name: Test and build
on: push

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install node modules
        run: npm ci
      - name: Run linting
        run: npm run lint
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: install node modules
        run: npm ci
      - name: Run tests 
        run: npm run test
  build-app:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: install node modules
        run: npm ci
      - name: Run tests 
        run: npm run build
      - name: Deploy
        run: echo Deploying app
  
